<div class="container">
  <div class="row">
    <h1 >Lets learn about our Family</h1>
    <h2>Click on the speaker to help sound out the family member</h2>
    <div class="card-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyFather.svg" alt="Avatar">
            <button class="btn" id="btnFamilyFather" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyMother.svg" alt="Avatar">
            <button class="btn" id="btnFamilyMother" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyGrandFather.svg" alt="Avatar">
            <button class="btn" id="btnFamilyGrandFather" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyGrandMother.svg" alt="Avatar">
            <button class="btn" id="btnFamilyGrandMother" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyBrother.svg" alt="Avatar">
            <button class="btn" id="btnFamilyBrother" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilySister.svg" alt="Avatar">
            <button class="btn" id="btnFamilySister" type="button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
