<div class="container">
  <div class="row">
    <h1 style="font-size: 75px; background-color: #003f6d; color: white;">Lets learn about our Family</h1>
    <div class="card-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyFather.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>Father</h1>
            <h2>or</h2>
            <h1>Dad</h1>
            <h2>or</h2>
            <h1>Daddy</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyMother.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>Mother</h1>
            <h2>or</h2>
            <h1>Mom</h1>
            <h2>or</h2>
            <h1>Mommy</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyGrandFather.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>Grandpa</h1>
            <h2>or</h2>
            <h1>Granddad</h1>
            <h2>or</h2>
            <h1>Grandfather</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyGrandMother.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>Grandma</h1>
            <h2>or</h2>
            <h1>Granny</h1>
            <h2>or</h2>
            <h1>Grandmother</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilyBrother.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>Brother</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FamilySister.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>Sister</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
