<div class="container">
  <div class="row">
    <h1 style="font-size: 75px; background-color: #003f6d; color: white;">Lets learn the Alphabet</h1>
    <div class="card-container">

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetA.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetA" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetB.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetB" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetC.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetC" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetD.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetD" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetE.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetE" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetF.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetF" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetG.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetG" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetH.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetH" type="button"></button>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetI.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetI" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetJ.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetJ" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetK.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetK" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetL.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetL" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetM.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetM" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetN.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetN" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetO.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetO" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetP.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetP" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetQ.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetQ" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetR.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetR" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetS.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetS" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetT.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetT" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetU.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetU" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetV.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetV" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetW.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetW" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetX.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetX" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetY.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetY" type="button"></button>
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetZ.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetZ" type="button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
