<div class="container">
  <div class="row">
    <h1 style="font-size: 75px; background-color: #003f6d; color: white;">Lets learn the Alphabet</h1>
    <div class="card-container">

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetA.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>A a</h1>
            <h2>is for</h2>
            <h1>apple</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetB.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>B b</h1>
            <h2>is for</h2>
            <h1>baby</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetC.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>C c</h1>
            <h2>is for</h2>
            <h1>carrot</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetD.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>D d</h1>
            <h2>is for</h2>
            <h1>dog</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetE.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>E e</h1>
            <h2>is for</h2>
            <h1>egg</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetF.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>F f</h1>
            <h2>is for</h2>
            <h1>flowers</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetG.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>G g</h1>
            <h2>is for</h2>
            <h1>girl</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetH.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>H h</h1>
            <h2>is for</h2>
            <h1>house</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetI.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>I i</h1>
            <h2>is for</h2>
            <h1>igloo</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetJ.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>J j</h1>
            <h2>is for</h2>
            <h1>juice</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetK.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>K k</h1>
            <h2>is for</h2>
            <h1>kitten</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetL.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>L l</h1>
            <h2>is for</h2>
            <h1>leaf</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetM.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>M m</h1>
            <h2>is for</h2>
            <h1>milk</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetN.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>N n</h1>
            <h2>is for</h2>
            <h1>nails</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetO.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>O o</h1>
            <h2>is for</h2>
            <h1>Octopus</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetP.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>P p</h1>
            <h2>is for</h2>
            <h1>penguin</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetQ.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>Q q</h1>
            <h2>is for</h2>
            <h1>queen</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetR.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>R r</h1>
            <h2>is for</h2>
            <h1>robot</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetS.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>S s</h1>
            <h2>is for</h2>
            <h1>snake</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetT.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>T t</h1>
            <h2>is for</h2>
            <h1>turtle</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetU.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>U u</h1>
            <h2>is for</h2>
            <h1>umbrella</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetV.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>V v</h1>
            <h2>is for</h2>
            <h1>vegatables</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetW.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>W w</h1>
            <h2>is for</h2>
            <h1>watermelon</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetX.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>X x</h1>
            <h2>is for</h2>
            <h1>x-rays</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetY.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>Y y</h1>
            <h2>is for</h2>
            <h1>yogurt</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetZ.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>Z z</h1>
            <h2>is for</h2>
            <h1>Zoo</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
