<div class="container">
  <div class="row">
    <h1>Lets learn the Alphabet</h1>
    <h2>Click on the speaker to help sound out the letter</h2>
    <div class="card-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetA.svg" alt="Avatar">
            <button class="btn" id="btnAlphabetA" type="button"></button>

            <audio  id="a" src="../assets/audio/a.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('a').play();"></button>

          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetB.svg" alt="Avatar">
           
            <audio  id="b" src="../assets/audio/b.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('b').play();"></button>

            
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetC.svg" alt="Avatar">
            
            
            <audio  id="c" src="../assets/audio/c.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('c').play();"></button>

          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetD.svg" alt="Avatar">
            
            
            <audio  id="d" src="../assets/audio/d.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('d').play();"></button>

          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetE.svg" alt="Avatar">
            
            
            <audio  id="e" src="../assets/audio/e.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('e').play();"></button>

          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetF.svg" alt="Avatar">
            
            <audio  id="f" src="../assets/audio/f.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('f').play();"></button>

          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetG.svg" alt="Avatar">
            
            <audio  id="g" src="../assets/audio/g.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('g').play();"></button>

          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetH.svg" alt="Avatar">
            
            <audio  id="h" src="../assets/audio/h.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('h').play();"></button>

          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetI.svg" alt="Avatar">
            
            <audio  id="i" src="../assets/audio/i.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('i').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetJ.svg" alt="Avatar">
            
            <audio  id="j" src="../assets/audio/j.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('j').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetK.svg" alt="Avatar">
            
            <audio  id="k" src="../assets/audio/k.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('k').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetL.svg" alt="Avatar">
            
            <audio  id="l" src="../assets/audio/l.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('l').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetM.svg" alt="Avatar">
            
            <audio  id="m" src="../assets/audio/m.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('m').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetN.svg" alt="Avatar">
            
            <audio  id="n" src="../assets/audio/n.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('n').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetO.svg" alt="Avatar">
            
            <audio  id="o" src="../assets/audio/o.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('o').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetP.svg" alt="Avatar">
            
            <audio  id="p" src="../assets/audio/p.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('p').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetQ.svg" alt="Avatar">
            
            <audio  id="q" src="../assets/audio/q.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('q').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetR.svg" alt="Avatar">
           
            <audio  id="r" src="../assets/audio/r.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('r').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetS.svg" alt="Avatar">
           
            <audio  id="s" src="../assets/audio/s.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('s').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetT.svg" alt="Avatar">
            
            <audio  id="t" src="../assets/audio/t.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('t').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetU.svg" alt="Avatar">
           
            <audio  id="u" src="../assets/audio/u.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('u').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetV.svg" alt="Avatar">
       
            <audio  id="v" src="../assets/audio/v.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('v').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetW.svg" alt="Avatar">
           
            <audio  id="w" src="../assets/audio/w.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('w').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetX.svg" alt="Avatar">
            
            <audio  id="x" src="../assets/audio/x.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('x').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetY.svg" alt="Avatar">
            
            <audio  id="y" src="../assets/audio/y.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('y').play();"></button>

          </div>
        </div>
      </div><div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/AlphabetZ.svg" alt="Avatar">
            
            <audio  id="z" src="../assets/audio/z.mp3" preload="auto"></audio>
  <button class="btn" onclick="document.getElementById('z').play();"></button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
