/* test start here */
.buttonIn {
  width: auto;
  position: relative;
}

.inputPass {
  margin: 0px;
  padding: 0px;
  height: 50px;
  padding: 15px 20px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  padding: 15px 20px;
  background: white;
  border-radius: 10px;
  outline: none;
  font-size: 1.04em;
  transition: 0.4s ease;
}

.buTest {
  position: absolute;
  right: 10px;
  bottom: 17px;
  z-index: 2;
  border: none;
  width: 25px;
  height: 21px;
  background-image: url(../../../assets/img/key.svg);
  background-color: transparent;
  background-repeat: no-repeat;
}

.btnAuidoPlayer {

  margin-top: 10px;
  max-width: 50px;
  width: 100%;
  height: 50px;
  border: none;
  background: transparent;
  background-image: url(../../../assets/img/volume_up-black-48dp.svg);
  background-repeat: no-repeat;
}

.btnPassword {
  width: 25px;
  height: 21px;
  border: 0;
  background-image: url(../../../assets/img/key.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
}

/* test end here */

#checkpolicy {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -15px;
}

.containerLinks {
  line-height: 25px;
}

.ButtonSelected {
  background-color: Red !important;
  color: white;

  border: none;

}

.column2 {
  padding: 1px;
  background-color: #FFFFFFbd;
  border: none;
  border-radius: 25px;
  width: 100%;
  max-width: 500px;
}

input::-ms-reveal,
      input::-ms-clear {
        display: none;
      }

input[type=email],
input[type=password] {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  padding: 15px 20px;
  background: white;
  border-radius: 10px;
  outline: none;
  font-size: 1.04em;
  transition: 0.4s ease;
}

.btnPassword {
  width: 25px;
  height: 21px;
  border: 0;
  background-image: url(../../../assets/img/key.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
}

.row {
  display: inline-block;
  max-width: 95%;
}

.btnUserClass {
  display: inline-block;
}

.ButtonNotSelected {

  /* background-color: #64B5F6bd; */
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}

#btnRegister {

  background-color: rgb(29, 180, 250) !important;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  padding: 10px;
}

#btnLogin {

  background-color: rgb(67, 182, 32) !important;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  padding: 10px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  border-radius: 50%;
}

.container {
  padding: 16px;
  text-align: center;
  width: 100%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

label {
  float: left;
  margin-bottom: 0px !important;
}

#btnStudent {
  background-color: #6EBAF6;
  max-width: 130px;
  margin: 10px 20px 10px 10px;
  padding: 10px 10px;

}

#btnParent {
  background-color: #6EBAF6;
  max-width: 130px;
  margin: 10px 20px 10px 10px;
  padding: 10px 10px;
}

#btnTeacher {
  background-color: #6EBAF6;
  max-width: 130px;
  margin: 10px 20px 10px 10px;
  padding: 10px 10px;
}

#btnHeadmaster {
  background-color: #6EBAF6;
  max-width: 130px;
  margin: 10px 20px 10px 10px;
  padding: 10px 10px;
}


/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}
