#checkpolicy {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -15px;
}

.containerLinks {
  line-height: 25px;
}

.column2 {
  padding: 1px;
  background-color: #FFFFFFbd;
  border: none;
  border-radius: 25px;
  width: 100%;
  max-width: 500px;
}

input[type=email],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.row {
  display: inline-block;
  max-width: 95%;
}

.btnUserClass {
  display: inline-block;
}

#btnRegister {

  background-color: rgb(29, 180, 250) !important;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  padding: 10px;
}

#btnLogin {

  background-color: rgb(67, 182, 32) !important;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  padding: 10px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  border-radius: 50%;
}

.container {
  padding: 16px;
  text-align: center;
  width: 100%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

label {
  float: left;
  margin-bottom: 0px !important;
}

#btnStudent {
  background-color: #6EBAF6;
  max-width: 130px;
  margin: 10px 19px 10px 20px;
  padding: 10px 10px;
}

#btnParent {
  background-color: #6EBAF6;
  max-width: 130px;
  margin: 10px 20px 10px 5px;
  padding: 10px 10px;
}

#btnTeacher {
  background-color: #6EBAF6;
  max-width: 130px;
  margin: 10px 20px 10px 5px;
  padding: 10px 10px;
}

#btnHeadmaster {
  background-color: #6EBAF6;
  max-width: 130px;
  margin: 10px 0px 10px 5px;
  padding: 10px 10px;
}
#btnStudent:focus {
background-color: red;
color: white;
outline: none;
}

#btnParent:focus {
  background-color: red;
  color: white;
  outline: none;
}

#btnTeacher:focus {
  background-color: red;
  color: white;
  outline: none;
}

#btnHeadmaster:focus {
  background-color: red;
  color: white;
  outline: none;
}

/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark{
  top:0;
  left: 0;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}
