#checkpolicy{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* This is fix the zoom of the footer when the page is zoomed out */
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */

  margin-bottom: -15px;
}


.containerLinks{
  line-height: 25px;
}
.column2{
  padding: 10px;
  background-color: #FFFFFFbd;
  border: none;
  border-radius: 25px;
  width: 100%;
  max-width: 500px;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.row{
  display: inline-block;
  max-width: 95%;
}
.btnUserClass{
display: inline-block;
}
#btnRegister{
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}
button {

  background-color: #64B5F6bd;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}
button:focus {

  background-color: red !important;
  color: white;
  font-weight: bold;
  outline:none;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  border-radius: 50%;
}

.container {
  padding: 16px;
  text-align: center;
  width: 100%;
}

span.psw {
  float: right;
  padding-top: 16px;
}
label{
  float: left;
  margin-bottom: 0px !important;
}


#btnStudent{
  background-color: #6EBAF6;
  width:130px;
  font-size:20px;
  color:#fff;
  border-radius: 50px;
  margin: 10px 20px 10px 10px;
  padding: 10px 10px;
}

#btnParent{
  background-color: #6EBAF6;
  width:130px;
  font-size:20px;
  color:#fff;
  border-radius: 50px;
  margin: 10px 10px 10px 0px;
  padding: 10px 10px;
}

#btnTeacher{
  background-color: #6EBAF6;
  width:130px;
  font-size:20px;
  color:#fff;
  border-radius: 50px;
  margin: 10px 20px 10px 10px;
  padding: 10px 10px;
}
#btnHeadmaster{
  background-color: #6EBAF6;
  width:130px;
  font-size:20px;
  color:#fff;
  border-radius: 50px;
  margin: 10px 10px 10px 0px;
  padding: 10px 10px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
