

<div class="wrapper">
  <div style="padding-top: 31px;" class="container">

    <div class="row">
      <div class="column1" style="width: 33%;"></div>
      <div class="column2" style="width: 100%;">
        <!-- <h1>Sign Up</h1> -->
        <form id="Registerform" name="Registerform">
          <div class="imgcontainer">
            <img src="../../../assets/img/helpinghands150.svg" alt="Helping Hands" class="avatar" />
          </div>
          <div class="container">
            <label><b>Email</b></label>

            <input type="email" minlength="3" placeholder="Enter Email Address" name="email" id="RegUserEmail"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              title="Must contain @ and . (example characters@characters.domain)" required />

            <label><b>Password</b></label>

            <input #x type="password" placeholder="Enter Password" name="RegPsw" id="RegPsw"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
              required />

            <label><b>Confirm Password</b></label>

            <input #y type="password" placeholder="Re-enter Password" name="cnfpsw" id="cnfpsw"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
              required />

              <button type="button" class="button-psswd" (click)="x.type=x.type=='password'?'text':'password'" (click)="y.type=y.type=='password'?'text':'password'">Show password</button>

            <label>SELECT THE TYPE OF USER</label>
            <div class="btnUserClass">
              <button class="btn" id="btnStudent" type="button" (click)="studClick()"    [class]="(userT == 'student') ? 'ButtonSelected' : 'ButtonNotSelected'">Student</button>
              <button class="btn" id="btnParent" type="button" (click)="parentClick()"   [class]="(userT == 'parent') ? 'ButtonSelected' : 'ButtonNotSelected'">Parent</button>
              <button class="btn" id="btnTeacher" type="button" (click)="teacherClick()" [class]="(userT == 'teacher') ? 'ButtonSelected' : 'ButtonNotSelected'">Teacher</button>
              <button class="btn" id="btnHeadmaster" type="button" (click)="hmClick()"   [class]="(userT == 'headmaster') ? 'ButtonSelected' : 'ButtonNotSelected'">Headmaster</button>
            </div>
            <br />
            <label class="container-checkbox">I accept the Privacy policy
              <input hidden ID="checkpolicy" type="checkbox">
              <span class="checkmark"></span>
            </label>
            <button class="btn" type="submit" id="btnRegister" (click)="RegisterUser()">Confirm Registration</button>
            <button class="btn" type="button" id="btnLogin" (click)="this.router.navigate(['login']);">Login</button>

          </div>
        </form>
        <div class="containerLinks">
          <span>Change language to <a href="#">Afrikaans</a></span>

          <br>
        <audio controls>
          <source src="horse.ogg" type="audio/ogg">
          <source src="../assets/audio/register.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        </div>
      </div>

    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

