
<div>
  <footer class="site-footer">
    <div class="row">
    <div class="container">
      <div class="row" >
        <div class="col-xs-12 col-md-3">
          <h6>Team Members</h6>
          <ul class="footer-links">
            <li><a href="">Kai Davey</a></li>
            <li><a href="">Dani Waksman</a></li>
            <li><a href="">Penina Barkowitz</a></li>
          </ul>
        </div>
  
        <div class="col-xs-12 col-md-3" style="padding-top: 30px;">
          <ul class="footer-links">
            <li><a href="">Tyler Chalmers</a></li>
            <li><a href="">Kyle Johnson</a></li>
            <li><a href="">Mitchell Jon Pallatte</a></li>
          </ul>
        </div>
  
        <div class="col-xs-3 col-md-6">
          <h6 style="font-size: 12px;">Quick Links</h6>
          <ul class="footer-links">
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
       <a href="#">Guardians</a>.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
           
          </ul>
        </div>
      </div>
    </div>
    </div>
  </footer>

</div>
