<div class="container">
  <div class="row">
    <h1 style="font-size: 75px; background-color: #003f6d; color: white;">Lets learn about Numbers</h1>
    <h2>Flip the cards and click or touch the speak icon for help</h2>
    <div class="card-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers1.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>1</h1>
            <br>
            <h1>One</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers2.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>2</h1>
            <br>
            <h1>Two</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers3.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>3</h1>
            <br>
            <h1>Three</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers4.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>4</h1>
            <br>
            <h1>Four</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers5.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>5</h1>
            <br>
            <h1>Five</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers6.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>6</h1>
            <br>
            <h1>Six</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers7.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>7</h1>
            <br>
            <h1>Seven</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers8.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>8</h1>
            <br>
            <h1>Eight</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers9.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>9</h1>
            <br>
            <h1>Nine</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers10.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>10</h1>
            <br>
            <h1>Ten</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers11.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>11</h1>
            <br>
            <h1>Eleven</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers12.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>12</h1>
            <br>
            <h1>Twelve</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers13.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>13</h1>
            <br>
            <h1>Thirteen</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers14.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>14</h1>
            <br>
            <h1>Fourteen</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers15.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>15</h1>
            <br>
            <h1>fifteen</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers16.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>16</h1>
            <br>
            <h1>sixteen</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers17.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>17</h1>
            <br>
            <h1>Seventeen</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers18.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>18</h1>
            <br>
            <h1>eighteen</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers19.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>19</h1>
            <br>
            <h1>Nineteen</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/Numbers20.svg" alt="Avatar">
          </div>
          <div class="flip-card-back">
            <h1>20</h1>
            <br>
            <h1>Twenty</h1>
            <img src="../../../assets/img/volume_up-white-48dp.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
