
<div class="body-wrap">
    <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Helping Hands</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/ViewMarks">Marks</a></li>
              <li><a routerLink="/Clean-up">Clean up</a>
              <li><a routerLink="/learn-home" >Learn</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/teacher-questions">Questions</a></li>
              <li><a routerLink="/profile">Profile</a></li>
              <li id="logout"><a (click)="LogUSerOut()">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

