/* bootstrap dropdown hover menu*/
.context-menu {cursor: context-menu;}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #4f5d6e;
  position: relative;

}

.container {
  width: 100%;
  margin-left: none;
  margin-right: none;
  padding: 0 0 0 0;
}

.body-wrap {
  min-height: 25px;
}

.body-wrap {
  position: relative;
  z-index: 0;
}

.body-wrap:before,
.body-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 65px;

}

.body-wrap:after {
  top: auto;
  bottom: 0;

}
li:hover{
  color: #000000;
  cursor: pointer;
  /* cursor: context-menu; */
}
nav {
  width: 100%;
  box-shadow: 5px 4px 5px #000;
  margin-bottom: 0px;
  border-radius: 0px;
}
