<div class="container">
  <div class="row profile" style="display: block;">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="../../../assets/img/HelpingHandsLogo.png" class="img-responsive" alt="" />
        </div>

        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <label id="studNameDisp">Student name goes here</label>
            
          </div>
          <div class="profile-usertitle-grade">
            <label id="studGradeDisp">Grade:</label>
          </div>
          <div class="profile-usertitle-class">
            <label id="studClassDisp">Class:</label>
          </div>
        </div>

        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                Account Settings
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="glyphicon glyphicon-question-sign"></i>
                T's & C's
              </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-flag"></i>
                Help
              </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <h3>Account Settings</h3>
        <br />
        <form style="margin-bottom: 200px;" id="form1content1">
          <div class="form-row">
            <div class="col">
              <label>First Name</label>
              <br />
              <input type="text" name="username" id="username" placeholder="Enter your first name" />
              <br />
              <label>Surname Name</label>
              <br />
              <input type="text" name="usersurname" id="usersurname" placeholder="Enter your surname" />
              <br />
            </div>
            <div class="col">
              <label>Cell number</label>
              <br />
              <input type="text" name="mobile" id="mobile" placeholder="Enter your cellphone number" />
              <br />
              <label>ID number</label>
              <br />
              <input type="text" name="DOB" id="DOB" placeholder="Enter your ID number" />
            </div>
          </div>
        </form>
        <div>
          <button type="button" name="btnGenerateLinkCode" id="btnGenerateLinkCode" (click)="GenerateCode()">
            Generate Code
          </button>
          <label id="GenCodeDisplay">code goes here</label>
          <br />
          <button type="button" name="btnLinkAccount" id="btnLinkAccount">
            Link Account
          </button>
          <input type="text" name="linkCode" id="linkCode" placeholder="" />
          <button type="button" name="btnReset" id="btnReset">Reset</button>
          <button type="button" name="btnSave" id="btnSave" (click)="saveProfile()" >Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
