
<div class="container">
  <div class="grid">
    <div class="quiz">
      <h1 id="subject">Select Class</h1>
      <hr style="align-items: inherit;">
      <p> Select the difficulty level for the Questions.</p>
      <div class="buttons">
        <button id="btnEasy" (click)="ProceedToTest('Easy')">Easy</button>
        <button id="btnMedium" (click)="ProceedToTest('Medium')">Medium</button>
        <button id="btnHard" (click)="ProceedToTest('Hard')">Hard</button>
      </div>
    </div>
  </div>
</div>
