<div class="container" style="width: 100%;">
  <div class="row">
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="color: white;">Welcome to Helping Hands</h1>
      </div>
    </div>
  </div>
</div>
<a hidden href='https://www.freepik.com/vectors/school'>School vector created by pch.vector - www.freepik.com</a>
<div class="DivColorForFlippyCards">
<h1 style="text-align: center; color: #000000; padding-top: 15px; margin-top: 0;">Select A Subject To Get Started</h1>

<div class="choose-grade" [style.display]="(isLearner == true) ? 'none' : ''">
  <label>Choose a Grade from the list below</label>
  <br>
  <select class="selector" [(ngModel)]="GradeSelected" (change)="lstGradeChanged()">
    <option selected="selected" value="0" [value]="" disabled hidden>Choose a Grade</option>
    <option *ngFor="let gr of lstGrades"  [value]="gr">{{gr}}</option>
  </select>
</div>
<div style="text-align: center;" class="container">
  <div class="rowCards">
    <!--Words-->
    <div class="flip-card" [style.display]="(Words == true) ? '' : 'none'">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a hidden href='https://www.freepik.com/vectors/school'>School vector created by studiogstock -
            www.freepik.com</a>
          <img src="../../../assets/img/WordsClass.png" alt="Avatar" style="width:200px;height:200px;border-radius: 50px;">
        </div>
        <div class="flip-card-back" (click)="this.router.navigate(['class','Words']);">
          <h3>Words</h3>
          <p>Look at the picture for clues</p>
          <p>and solve the quiz</p>
          <div class="btnDiv" >
            <button class="btn" id="btnSubjectStartWords">start</button>
          </div>
        </div>
      </div>
      <h3 class="Subjectlabel">Spelling</h3>
    </div>

    <!--Maths-->
    <div class="flip-card" [style.display]="(Maths == true) ? '' : 'none'">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a hidden href='https://www.freepik.com/vectors/background'>Background vector created by freepik -
            www.freepik.com</a>
          <img src="../../../assets/img/MathsClassV2.png" alt="Avatar"
            style="width:200px;height:200px;border-radius: 50px;">
        </div>
        <div class="flip-card-back" (click)="this.router.navigate(['class','Maths']);">
          <h3>Maths</h3>
          <p>Let us have some fun with</p>
          <p>math quizes</p>
          <div class="btnDiv" >
            <button class="btn" id="btnSubjectStartMaths">start</button>
          </div>
        </div>
      </div>
      <h3 class="Subjectlabel">Maths</h3>
    </div>

    <!--Sciences-->
    <div class="flip-card" [style.display]="(Sciences == true) ? '' : 'none'">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a hidden href='https://www.freepik.com/vectors/school'>School vector created by studiogstock -
            www.freepik.com</a>
          <img src="../../../assets/img/NaturalSciencesClass.png" alt="Avatar"
            style="width:200px;height:200px;border-radius: 50px;">
        </div>
        <div class="flip-card-back" (click)="this.router.navigate(['class','Sciences']);">
          <h3>Sciences</h3>
          <p>Look at the picture for clues</p>
          <p>and solve the quiz</p>
          <div class="btnDiv">
            <button class="btn" id="btnSubjectStartNS">start</button>
          </div>
        </div>
      </div>
      <h3 class="Subjectlabel">Sciences</h3>
    </div>

    <!--History-->
    <div class="flip-card" [style.display]="(History == true) ? '' : 'none'">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a hidden href='https://www.freepik.com/vectors/school'>School vector created by studiogstock -
            www.freepik.com</a>
          <img src="../../../assets/img/HistoryClassv2.png" alt="Avatar"
            style="width:200px;height:200px;border-radius: 50px;">
        </div>
        <div class="flip-card-back" (click)="this.router.navigate(['class','History']);">
          <h3>History</h3>
          <p>Look at the picture for clues</p>
          <p>and solve the quiz</p>
          <div class="btnDiv">
            <button class="btn" id="btnSubjectStartNS">start</button>
          </div>
        </div>
      </div>
      <h3 class="Subjectlabel">History</h3>
    </div>

    <!--Arts-->
    <div class="flip-card" [style.display]="(Arts == true) ? '' : 'none'">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a hidden href='https://www.freepik.com/vectors/school'>School vector created by studiogstock -
            www.freepik.com</a>
          <img src="../../../assets/img/ArtClass.png" alt="Avatar"
            style="width:200px;height:200px;border-radius: 50px;">
        </div>
        <div class="flip-card-back" (click)="this.router.navigate(['class','Arts']);">
          <h3>Arts</h3>
          <p>Look at the picture for clues</p>
          <p>and solve the quiz</p>
          <div class="btnDiv">
            <button class="btn" id="btnSubjectStartNS">start</button>
          </div>
        </div>
      </div>
      <h3 class="Subjectlabel">Arts</h3>
    </div>
  </div>
</div>
</div>
<!--About the App-->
<div class="containerPanel">
  <div class="rowPanel">
    <div class="panel">
      <div style="float: right;">
        <a hidden href='https://www.freepik.com/vectors/school'>School vector created by colorfuelstudio -
          www.freepik.com</a>
        <img src="../../../assets/img/HomePagePicture.png" style="width:100%; max-width: 400px;">
      </div>
      <div class="col-3">
        <div>
          <H2>Welcome to Helping Hands</H2>
          <br>
          <p>Helping hands is an online and offline educational tool to help develop students skills using a variety of
            quizes available.
            <br>
            The student may select their grade and start a quiz. There are 3 levels of difficulty Easy, Medium and Hard.
            <br>
            After each quiz you will be shown your score, how many gold stars you can get?
          </p>
        </div>
        <br>
      </div>
      <div class="col-6">
        <H2>Why we developed Helping Hands</H2>
        <br>
        <p>
          As a group we wanted to help develop a world-class educational tool for
          <br>
          students with special needs to help them acquire the skills they need to excel in life.
          <br>
          We have designed the application to be as user friendly as possible for the students, parents and education staff.
          <br>
          Parents will be able to help students with tests and quizes. They can view the students marks at any time.
          <br>
          Parents can update their childs profile with contact information.
        </p>
      </div>
    </div>
  </div>
  
</div>
