<div class="container" style="width: 100%;">
  <div class="row">
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="color: white;">Welcome to Helping Hands</h1>
      </div>
    </div>
  </div>
</div>
<a hidden href='https://www.freepik.com/vectors/school'>School vector created by pch.vector - www.freepik.com</a>
<div class="containerPanel">
  <div class="rowPanel">
    <div class="panel">
      <div style="float: right;">
        <a hidden href='https://www.freepik.com/vectors/school'>School vector created by colorfuelstudio -
          www.freepik.com</a>
        <img src="../../../assets/img/HomePagePicture.png" style="width:100%; max-width: 400px;">
      </div>
      <div class="col-3">
        <div>
          <H2>Lorem ipsum dolor sit amet</H2>
          <br>
          <p>consectetur adipiscing elit. Sed molestie quis nisl quis bibendum. Sed nunc neque, maximus ornare odio eu,
            convallis ultrices velit. Duis ut rutrum arcu. Aenean ornare sem in tempor viverra.
            Vestibulum consequat sem et elit vestibulum fermentum. Nulla quis magna in libero placerat ullamcorper eget
            iaculis odio.
            Maecenas id risus at est pellentesque iaculis. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra,
            per inceptos himenaeos.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
        </div>
        <br>
      </div>
      <div class="col-6">
        <H2>Lorem ipsum dolor sit amet</H2>
        <br>
        <p>consectetur adipiscing elit. Sed molestie quis nisl quis bibendum. Sed nunc neque, maximus ornare odio eu,
          convallis ultrices velit. Duis ut rutrum arcu. Aenean ornare sem in tempor viverra.
          Vestibulum consequat sem et elit vestibulum fermentum. Nulla quis magna in libero placerat ullamcorper eget
          iaculis odio.
          Maecenas id risus at est pellentesque iaculis. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra,
          per inceptos himenaeos.
          Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div>
</div>

<div class="DivColorForFlippyCards">
  &nbsp;
<h1 style="text-align: center; color: #fff;">Select A Subject To Get Started</h1>
<div style="text-align: center;" class="container">
  <div class="rowCards">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a hidden href='https://www.freepik.com/vectors/school'>School vector created by studiogstock -
            www.freepik.com</a>
          <img src="../../../assets/img/WordsClass.png" alt="Avatar" style="width:200px;height:200px;border-radius: 50px;">
        </div>
        <div class="flip-card-back">
          <h3>Words</h3>
          <p>look at the pciture clues</p>
          <p>and </p>
          <div class="btnDiv" style="margin-top: 60px;">
            <button id="btnSubjectStartWords">start</button>
          </div>
        </div>
      </div>
      <h3>Spelling</h3>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a hidden href='https://www.freepik.com/vectors/background'>Background vector created by freepik -
            www.freepik.com</a>
          <img src="../../../assets/img/MathsClassV2.png" alt="Avatar"
            style="width:200px;height:200px;border-radius: 50px;">
        </div>
        <div class="flip-card-back" (click)="this.router.navigate(['class','Math']);">
          <h3>Maths</h3>
          <p>look at the pciture clues</p>
          <p>and </p>
          <div class="btnDiv" style="margin-top: 60px;">
            <button id="btnSubjectStartMaths">start</button>
          </div>
        </div>
      </div>
      <h3>Maths</h3>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a hidden href='https://www.freepik.com/vectors/school'>School vector created by studiogstock -
            www.freepik.com</a>
          <img src="../../../assets/img/NaturalSciencesClass.png" alt="Avatar"
            style="width:200px;height:200px;border-radius: 50px;">
        </div>
        <div class="flip-card-back">
          <h3>Natural Sciences</h3>
          <p>Look at the picture for clues</p>
          <p>and solve the quiz</p>
          <div class="btnDiv" style="margin-top: 35px;">
            <button id="btnSubjectStartNS">start</button>
          </div>
        </div>
      </div>
      <h3>Natural Sciences</h3>
    </div>
  </div>
</div>
&nbsp;
</div>
