<div class="container">
  <div class="row">
    <div class="H1Div">
      <h1 class="rainbow-text" >Lets Play Clean Up!!</h1>
    </div>
    <div class="panel">
      <h2>Look at the picture of the item below.</h2>
      <div class="points-div">
        <p style="float: left;">Points: </p>
        <label id="points">10</label>
        <br>
        <div class="Lives">
          <img id="Lives1"src="../../../assets/img/NoLifes.svg" alt="heart for lives">
          <img id="Lives2"src="../../../assets/img/Lifes.svg" alt="heart for lives">
          <img id="Lives3"src="../../../assets/img/Lifes.svg" alt="heart for lives">
        </div>

      </div>
      <div class="Rooms">
        <img id="RoomItem" src="../../../assets/img/HouseItem.png" width="250" height="250">
        <br>
      </div>
      <h2>Now click on the room it belongs in.</h2>
      <div>
        <div class="grid-container">
          <div class="griditem griditem1">
            <h3>Bathroom</h3>
            <img id="" src="../../../assets/img/Bathroom .svg" width="250" height="250">
          </div>
          <div class="griditem griditem2" >
            <h3>Bedroom</h3>
            <img id="" src="../../../assets/img/Bedroom.svg" width="250" height="250">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
