<div class="container">
  <div class="row">
    <div class="H1Div">
      <h1 class="rainbow-text" >Lets Play Clean Up!!</h1>
    </div>
    <div class="panel">
      <audio  id="CleanUp" src="../assets/audio/cleanupNew.wav" preload="auto"></audio>
      <button class="btnAuidoPlayer" onclick="document.getElementById('CleanUp').play();"></button>
      <!-- <audio controls>
        <source src="horse.ogg" type="audio/ogg">
        <source src="../assets/audio/cleanUpGameObjective.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio> -->
      <h2>Look at the picture of the item below.</h2>
      <div class="points-div">
        <p style="float: left;">Points: </p>
        <label id="points">{{Points}}</label>
        <br>
        <div class="Lives">
          <img id="Lives3"src="../../../assets/img/Lifes.svg" alt="heart for lives" *ngFor="let item of [].constructor(GoodHearts); let i = index">

          <img id="Lives1" src="../../../assets/img/NoLifes.svg" alt="heart for lives" *ngFor="let item of [].constructor(LostHearts); let i = index">
        </div>

      </div>
      <div class="Rooms">
        <img id="RoomItem" [src]='"assets/Single Items/"+Options[iCurrent].Item' width="250" height="250">
        <br>
      </div> 
      <h2>Select the room it belongs in.</h2>
      <div> 
        <div class="grid-container">
          <div class="griditem griditem1">
            <h3>{{Options[iCurrent].OptionA}}</h3>
            <img id="" [src]='"assets/Game artwork/"+Options[iCurrent].Incorrect' (click)="OptionAClick()" width="250" height="250">
          </div>
          <div class="griditem griditem2" >
            <h3>{{Options[iCurrent].OptionB}}</h3>
            <img id="" [src]='"assets/Game artwork/"+Options[iCurrent].Correct' (click)="OptionBClick()" width="250" height="250">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
