.container {

  width: 100%;
  max-width: 90%;
}
label, p, h3{
  color: white;
}
label{
  font-size: 22px;
}
h1{
  font-size: 60px;
  color: white;
}
h2{
  font-size: 35px;
  color: white ;
}
.panel{
  background-color: rgb(68 112 134);
}
.H1Div{
  margin-top: 20px;
  width: 100%;
  float: inherit;
  background-color: rgb(68 112 134);
  margin-bottom: 25px;
  padding: 10px;

}
.grid-container {
  display: inline-flex;
  padding: 10px;
}

.griditem {
  height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
img{
  width: 80%;
  height: 80%;
  max-width: 250px;
  max-height: 140px;
}
#RoomItem{
  margin-right: 145px;
}

.points-div{
  float: left;
  font-size: 30px;

}
.Lives{
  display: flex;
  width: 100%;
  max-width: 50px;
}

@media screen and (max-width: 400px) {
  .container {

    width: 100%;
    max-width: 90%;
  }
  label, p, h3{
    color: white;
  }
  label{
    font-size: 22px;
  }
  h1{
    font-size: 60px;
    color: #64B5F6;
  }
  h2{
    font-size: 35px;
    color: #64B5F6 ;
  }
  .panel{
    background-color: rgb(18, 45, 95);
  }
  .H1Div{
    margin-top: 20px;
    width: 100%;
    float: inherit;
    background-color: rgba(255, 255, 255);
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
  }
  .grid-container {
    display: block;
    padding: 10px;
  }

  .griditem {
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  img{
    width: 80%;
    height: 80%;
    max-width: 250px;
    max-height: 140px;
  }
  #RoomItem{
    margin-right: 0;
    margin-top: 30px;
  }

  .points-div{
    float: left;
    font-size: 30px;

  }
  .Lives{
    display: flex;
    width: 100%;
    max-width: 50px;
  }
}

