<div class="container">
    <div class="row panel" style="margin-top: 50px;">
        <h1 class="rainbow-text">View Marks</h1>
        
        <h3>Personal Marks</h3>
        <div style="max-height: 500px;overflow-y: scroll;">
            <table style="width: 100%;" class="styled-table">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Difficulty</th>
                        <th>Grade</th>
                        <th>Mark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Mark of lstMarks">
                        <td>{{Mark.Subject}}</td>
                        <td>{{Mark.Difficulty}}</td>
                        <td>{{Mark.Grade}}</td>
                        <td>{{Mark.Mark}}</td>
                    </tr>


                </tbody>
            </table>

        </div>

       


    </div>
</div>