.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th{
  position: sticky;
  top: 0;
  background-color: #8cc8f8;
}

.styled-table thead tr {
  background-color: #8cc8f8;
  color: #ffffff;
  text-align: left;
  top:sticky;
}

.styled-table tr{
  font-size: 15px;
  color: Black;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border:1px solid #333;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: white;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #8cc8f8;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #8cc8f8;
}


  .container {

    width: 100%;
    max-width: 90%;
    text-align: center;
  
  }
  
  h1{
    font-size: 75px;
    font-weight: 700;
    color: #64B5F6;
  }
  h2{
    font-size: 35px;
    font-weight: 500;
    color: #64B5F6 ;
  }
  .H1Div{
    margin-top: 20px;
    width: 100%;
    float: inherit;
    background-color: rgba(255, 255, 255);
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
  }
  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  
  .griditem {
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  img{
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
  }
  #RoomItem{
    border-radius: 50%;
  }
  .panel{
    padding: 25px;
    background-color:rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    width: 100%;
    margin: none;
  
  }
  .points-div{
    float: left;
    font-size: 30px;
  
  }
  .Lives{
    display: flex;
    width: 100%;
    max-width: 50px;
  }
  
  @media screen and (max-width: 400px) {
    .container {
      padding: 20px;
      width: 100%;
      max-width: 90%;
      text-align: center;
  
    }
    h1{
      font-size: 35px;
      font-weight: 700;
      color: #64B5F6;
    }
    h2{
      font-size: 25px;
      font-weight: 500;
      color: #64B5F6 ;
    }
    .H1Div{
      background-color: rgba(255, 255, 255);
      margin-bottom: 25px;
    }
    .grid-container {
      display: inline-flex;
      grid-template-columns: auto auto ;
      padding: 0 0 0 0;
    }
  
    .griditem {
      margin: none;
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
    .panel{
      padding: 25px;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 15px;
      width: 100%;
      margin: none;
  
    }
    img{
      margin: none;
      width: 100%;
      height: 100%;
  
    }
    .points-div{
  
      font-size: 30px;
  
    }
    .Lives{
      display: flex;
      width: 100%;
      max-width: 50px;
      padding-bottom: 10px;
    }
  }
  
  