#btnlogin{
  margin-top: 10px;
  background-color: rgb(67, 182, 32) !important;
  color: white;
  padding: 10px;
}
#btnRegister{
  background-color: rgb(29, 180, 250) !important;
  color: white;
  padding: 10px;
  margin-top: 15px;
}
.column2{
  padding: 1px;
  background-color: #FFFFFFbd;
  border: none;
  border-radius: 25px;
  width: 100%;
  max-width: 500px;
}
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.row{
  display: -webkit-inline-box;
  flex-wrap: wrap;
  max-width: 90%;
}

button:hover {
  opacity: 0.8;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 150px;
  border-radius: 50%;
}
.container {
  padding: 16px;
  width: 100%;
}
span.psw {
  float: right;
  padding-top: 16px;
}
label{
  float: left;
  margin-bottom: 0px !important;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

