<div class="container">
  <div class="row">
    <div class="column1" style="width: 33%;">
    </div>
    <div class="column2"  style="width: 100%;">
      <form>
        <div class="imgcontainer">
          <img src="../../../assets/img/helpinghands150.svg" alt="Helping Hands" class="avatar">
        </div>

        <div class="container">
          <label ><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

          <button type="submit" id="btnlogin">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember" id="rememberMe"> Remember me
          </label>
        </div>

        <div class="container">
          <span>Change language to  <a href="#">Afrikaans</a></span>
          <br>
          <span >Forgot <a href="#">password?</a></span>
          <br>
          <a href="#">Create a new Account</a>
        </div>
      </form>
    </div>
    <div class="column3" style="width: 33%;">
    </div>
  </div>
</div>
