<!-- <body> -->
  
<div class="container">
  <div class="row">
    <div class="column1" style="width: 33%;">
    </div>
    <div class="column2"  style="width: 100%;">
     
      <form id="loginform" name="loginform">
        <div class="imgcontainer">
          <img src="../../../assets/img/helpinghands150.svg" alt="Helping Hands" class="avatar">
        </div>
        <div class="container">
          <label ><b>Email</b></label>
          <input type="email" value="parent@gmail.com" minlength="3" placeholder="Enter Email Address" name="userEmail" id="userEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          title="Must contain @ and . (example characters@characters.domain)"required>
          <label><b>Password</b></label>
          <input type="password" value="ASdf1234*" placeholder="Enter Password" name="psw" id="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>

          <label class="container-checkbox">Remember me
            <input hidden type="checkbox" name="remember" id="rememberMe">
            <span class="checkmark"></span>
          </label>

          <button type="submit" id="btnlogin" (click)="SignInUser()">Login</button>
          <button type="submit" id="btnRegister" (click)="this.router.navigate(['register']);">Register</button>
          <!-- <button type="submit" id="btnPSWReset" class="buttonReset">Forgot Password?</button> -->
        </div>
      </form>
      <div class="container">
        <span>Change language to<a href="#"> Afrikaans</a></span>
        <br>
        <span >Forgot<a href="#"> password?</a></span>
        <br>

      </div>
    </div>
    <div class="column3" style="width: 33%;">
    </div>
  </div>
</div>
<!-- 
</body> -->