<div class="container" style="width: 100%;">
  <div class="row">
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="color: white;">Welcome to Helping Hands learn page</h1>
      </div>
    </div>
  </div>
</div>
<div class="DivColorForFlippyCards">
  <h1 style="text-align: center; color: #000000; padding-top: 15px; margin-top: 0;">Click on a card to learn about it</h1>
  <div style="text-align: center;" class="container">
    <div class="rowCards">
      <!--Words-->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FunWithAlphabet.svg" alt="Avatar"
              style="width:200px;height:200px;border-radius: 50px;">
          </div>
        </div>
        <h3 class="Subjectlabel">Learn about the Alphabet</h3>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FunWithFamily.svg" alt="Avatar"
              style="width:200px;height:200px;border-radius: 50px;">
          </div>
        </div>
        <h3 class="Subjectlabel">Learn about your Family members</h3>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/img/FunWithNumbers.svg" alt="Avatar"
              style="width:200px;height:200px;border-radius: 50px;">
          </div>
        </div>
        <h3 class="Subjectlabel">Learn about Numbers</h3>
      </div>
    </div>
  </div>
</div>
