<div class="container" style="width: 100%;">
  <div class="row">
    <div class="hero-image">
      <div class="hero-text">
        <h1 style="color: white;">Welcome to learning with helping hands</h1>
      </div>
    </div>
  </div>
</div>
<div class="DivColorForFlippyCards">
  <h1 >To start learning click on a card to learn about that section</h1>
  <div style="text-align: center;" class="container">
    <div class="rowCards">
      <!--Words-->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           

            <a href="http://localhost:4200/learn-numbers" target="_blank">
              <img src="../../../assets/img/FunWithNumbers.svg" alt="Avatar">
            </a>


          </div>
        </div>
        <h3 class="Subjectlabel">Learn about the Alphabet</h3>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">

            <a href="http://localhost:4200/learn-family-members" target="_blank">
              <img src="../../../assets/img/FunWithFamily.svg" alt="Avatar">
            </a>

            
          </div>
        </div>
        <h3 class="Subjectlabel">Learn about your Family members</h3>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">

            
            <a href="http://localhost:4200/learn-alphabet" target="_blank">
              <img src="../../../assets/img/FunWithAlphabet.svg" alt="Avatar">
            </a>
            
          </div>
        </div>
        <h3 class="Subjectlabel">Learn about Numbers</h3>
      </div>
    </div>
  </div>
</div>
