html {
  height: 100%;
}
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-image: url(assets/img/BackgroundXBCAD50p.png);
  background-position: center;
  background-color: #64B5F6bd;
}


/*Button styles - Start*/
.btnGreen {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}
.BtnBlue {
  background-color: #64B5F6bd;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}
/* Ronded buttons */
.BlueButtonRounded {

  background-color: #64B5F6bd;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.ResetButtonRounded {

  background-color: coral;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.ButtonSelected {

  background-color: red !important;
  color: white;
  font-weight: bold;
  outline:none;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
}
/*Button styles - End*/