body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-image: url(assets/img/XBCAD_Background.png);
  background-repeat: repeat;
  /* background-color: #64B5F6bd; */
  background-color: #8BD1D8;
}
