<div class="container">
  <div class="grid quiz">
    <h1>Quiz</h1>
    <p id="question"> ______ in the race last Sunday? Yes, she ran thirty five kilometers</p>
    <div class="buttons">
      <button id="btn0"><span id="choice0"></span>Did Sumiko run</button>
      <button id="btn1"><span id="choice1"></span>Did Sumiko ran</button>
    </div>
    <p id="progress">Question x of y</p>
    <div class="StarDiv">
      <img id="starAchieve1" src="../../../assets/img/Stars.svg" alt="Star achievement">
      <img id="starAchieve2" src="../../../assets/img/Stars.svg" alt="Star achievement">
      <img id="starAchieve3" src="../../../assets/img/NoStars.svg" alt="Empty Star achievement">
      <br>
      <br>
    </div>
    <button id="btnCancel"><span id="Cancel"></span>Cancel</button>
    <button id="btnNext"><span id="Next"></span>Next</button>
  </div>
</div>
