<link href='//fonts.googleapis.com/css?family=Roboto:100,400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div class="container">
  <div class="grid quiz" [style.display]="(awards == true) ? 'none' : ''">
    <h1>Quiz</h1>
    <p id="question">Questions loading...</p>
    <div class="buttons">
      <button id="btn0" (click)="Choice0()" [class]="(iChoice == 0) ? 'ButtonSelected' : 'ButtonNotSelected'" ><span id="choice0"></span></button>
      <button id="btn1" (click)="Choice1()"  [class]="(iChoice == 1) ? 'ButtonSelected' : 'ButtonNotSelected'"><span id="choice1"></span></button>
    </div>
    <p id="progress">Question x of y</p>
    <button id="btnCancel"  (click)="this.router.navigate(['home']);">Cancel</button>
    <button id="btnNext" (click)="btnNextQuestion()">Next</button>
    <br>
    <div class="fade-in">
      <label hidden class="lblAlert" id="lblAlert"></label>
    </div>

  </div>
  <div class="quiz-window" [style.display]="(awards == false) ? 'none' : ''" style="display: none;">
    <div class="quiz-window-header">
      <div class="quiz-window-title">Congratulations!!</div>
    </div>
    <div class="quiz-window-body">
      <div class="gui-window-awards">
        <ul class="guiz-awards-row guiz-awards-header">
          <li class="guiz-awards-header-star">&nbsp;</li>
          <li class="guiz-awards-header-title">Questions</li>
          <li class="guiz-awards-header-track">Correct</li>
          <li class="guiz-awards-header-time">Marks</li>
        </ul>

        <div *ngFor="let qst of clsTests;let i = index">

          <ul class="guiz-awards-row guiz-awards-row-even">
            <li class="guiz-awards-star"><span [class]="(qst.userGetCorrect == true) ? 'star goldstar' : 'star bronzestar'" ></span></li>
            <li class="guiz-awards-title">Question {{i+1}}
                <div class="guiz-awards-subtitle">{{qst.Question}}</div></li>
            <li class="guiz-awards-track">{{(qst.userGetCorrect == true) ? 'Right' : 'Wrong'}}</li>
            <li class="guiz-awards-time">{{(qst.userGetCorrect == true) ? '1' : '0'}}</li>
          </ul>

        </div>


        <div class="feedbackDiv">
          <p id="progress">Question {{iCorrect}} of {{clsTests.length}}</p>
          <label style="display: block;">You Earn 3 Gold stars WOW!!!!</label>
          <div class="StarDiv">
            <div *ngFor="let qst of clsTests;">
              <img id="starAchieve1" [style.display]="(qst.userGetCorrect == false) ? 'none' : ''"  [src]="(qst.userGetCorrect == true) ? '../../../assets/img/Stars.svg' : ''" alt="Star achievement">
            </div>

            <div *ngFor="let qst2 of clsTests;">
              <img id="starAchieve1" [style.display]="(qst2.userGetCorrect == true) ? 'none' : ''" [src]="(qst2.userGetCorrect == true) ? '' : '../../../assets/img/NoStars.svg'" alt="Star achievement">
            </div>

          </div>
        </div>
      </div>
      <div class="guiz-awards-buttons">
        <button class="guiz-awards-but-back" (click)="btnFinishClicked()"> Finish</button>
      </div>
    </div>
  </div>
</div>


