<div class="grid quiz">
    <h1>Quiz</h1>

    <p id="question"> ______ in the race last Sunday? Yes, she ran thirty five kilometers</p>

    <div class="buttons">
        <button id="btn0"><span id="choice0"></span>Did Sumiko run</button>
        <button id="btn1"><span id="choice1"></span>Did Sumiko ran</button>
    </div>

    <p id="progress">Question x of y.</p>

    <button id="btnCancel"><span id="Cancel"></span>Cancel</button>
    <button id="btnNext"><span id="Next"></span>Next</button>
</div>